#!/bin/sh
set -eu

{% for image in lab_runtime_image_builds %}
{{ lab_runtime_image_builder }} build \
  --label thesis.platform={{ thesis_platform_name }} \
  --tag {{ image.name }} \
  --file {{ image.context }}/{{ image.dockerfile }} \
  {{ image.context }}
{% endfor %}
